fastapi==0.123.5
uvicorn==0.38.0

# Database (SQLite)
SQLAlchemy==2.0.44
aiosqlite==0.19.0

# Celery (optional queue system)
celery==5.6.0
# redis==7.1.0

# Monitoring Celery
# flower==2.0.1

# Env variables
python-decouple==3.8

# Faker (dev/testing utility)
# Faker==38.2.0

# File upload support
python-multipart==0.0.20

# JWT Authentication
PyJWT==2.10.1

# Password hashing
passlib==1.7.4
bcrypt==3.2.2

# Auto-migrations
alembic==1.17.2
