name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.HOST_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            cd /home/ubuntu/queue-driven-importer

            git fetch --all
            git reset --hard origin/main

            # STOP & REMOVE OLD CONTAINER
            docker stop fastapi_app || true
            docker rm fastapi_app || true

            # BUILD IMAGE
            docker build -t fastapi_app:latest .

            # RUN CONTAINER
            docker run -d --name fastapi_app \
              --env-file .env \
              -p 8000:8000 \
              fastapi_app:latest

            # CLEANUP
            docker image prune -f
